.side-bar {
  box-sizing: border-box;
  color: $white-color;
  width: 300px;
  .header {
    background-color: $dark_bule;
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
    &__name {
      display: inline-block;
      font-size: $side_header_font;
      font-weight: bold;
    }
    &__lists {
      display: inline-block;
      float: right;
      .list {
        display: inline-block;
      }
      .icon {
        color: $white-color;
        font-size: $side_header_font;
      }
    }
  }
  .side-group{
    background-color:$dark_bule_gray;
    padding: 0 20px;
    height: calc(100vh - 100px); 
    &__box{
      box-sizing: border-box; 
      &__name{
        font-size:$side_group_name;
        padding-top:20px;
      }
      &__message{
        font-size:$side_group_message;
        margin-top: 5px;   
      }
    }
  }
}